# Supabase - Obtenha em: https://supabase.com/dashboard/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=https://vyavtxoveyyqzysnoodp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_v5ZYOt-tzQtqGdy-AbA9sg_R535WFTXsb_publishable_v5ZYOt-tzQtqGdy-AbA9sg_R535WFTX

# Nome da loja (aparece no sistema)
NEXT_PUBLIC_STORE_NAME="Mercadinho Venha Ver"
